<h1> Profile </h1>
<div id="profile-page" class="section">
            <!-- profile-page-header -->
            <div id="profile-page-header" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://bermudalimo.com/wp-content/uploads/2013/03/header-travelagent.png">
                </div>
                <figure  class="card-profile-image">
                    <img  id='prof_image' src="<%=@user.prof_image%>" class= 'circle z-depth-2 responsive-img activator'>
                </figure>
                <div class="card-content">
                  <div class="row">
                    <div class="col s3 offset-s2">
                        <h4 class="card-title grey-text text-darken-4"><%= @user.first_name %></h4>
                        <p class="medium-small grey-text">Name</p>
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">10</h4>
                        <p class="medium-small grey-text">Places Visited</p>
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4 post-count"></h4>
                        <p class="medium-small grey-text">Reviews posted</p>
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4"></h4>
                        <p class="medium-small grey-text"></p>
                    </div>
                    <div class="col s1 right-align">
                      <a class="btn-floating activator waves-effect waves-light darken-2 right">
                          <i class="mdi-action-perm-identity"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-reveal" style="display: none; transform: translateY(0px);">
                    <p>
                      <span class="card-title grey-text text-darken-4"><%= @user.first_name +  @user.last_name  %> <i class="mdi-navigation-close right"></i></span>
                      <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>Daily Wonderer</span>
                    </p>

                    <p>Retired 65 year-old looking to fuck shit up around the world</p>

                    <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i><%=@user.hometown%></p>
                    <p><i class="mdi-communication-email cyan-text text-darken-2"></i></p>
                    <p><i class="mdi-social-cake cyan-text text-darken-2"></i></p>
                    <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i><%= link_to 'Edit', edit_user_path, :class=>"waves-effect waves-light grey btn" %></p>
                </div>
            </div>

              	</div>
              	<h1>Recent Reviews</h1>
             	 <% @user.posts.each do |post| %>  
              	<div class="row">
              		<div class="col s12 m4">
              			<div class="card blue-grey darken-1">
              				<div class="card-content white-text pfile">
              					<span class="card-title profile-posts">Title: <%= post.title %></span>
              					<p><%= link_to post.description, post_path(post) %></p>
              				</div>
              			</div>
              		</div>
              	</div>
              <% end %>   






              </div>

              <div id="profile-page-wall" class="col s12 m8">
        			
        			<p></p>
        			
        			
              </div>
              <!--/ profile-page-wall -->
            </div>
          </div>
</ul>
<%= link_to "San Francisco", '/cities/san-francisco' %>
<%= link_to "Gibraltar", '/cities/gibraltar' %>
<%= link_to "London", '/cities/london' %>


<br />
