

<h1> Profile </h1>

<ul>
	<li><%= @user.prof_image %>	</li>
	<li><%= @user.first_name %></li>
	<li><%= @user.last_name %></li>
	<li><%= @user.hometown %></li>
</ul>
<%= link_to 'Edit', edit_user_path %>
<br />
