<%= form_for @post, url:"/cities/#{params[:city_id]}/posts" do |f| %>
	<!-- add hidden field for city_id ––––––– params[:city_id] -->
	<!-- add hidden field for user_id ––––––– current_user.id -->
	<%= f.hidden_field :user_id, :value => current_user.id %>
     <%= f.hidden_field :city_id, :value => params[:city_id] %>
	  <div>
    <%= f.text_field :title, placeholder: "Title" %>

  </div>
  <div>
    <%= f.text_field :description, placeholder: "Description" %>
  </div>
  <%= f.submit "Sign Up" %>
<% end %>