<div class="jumbotron" style="height: 80vh; background-image: url(<%= asset_path @city.photo %>); background-size: cover"></div>

<% @posts.each do |post| %>
  <%= post.title %>
  <%= link_to post.title, post_path(post) %>
  <%= post.description %>
<% end %>

<ul>
<li><%= @city.location %></li>
<li><%= @city.description %></li>
<li><%= @city.date_traveled %></li>
</ul>
<%= link_to "Add Post", "/cities/#{params[:city_name]}/posts/new" %>
