<!DOCTYPE html>
<html>
  <head>
    <title>VagaApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<% if current_user == nil %>
   <nav>
    <div class="nav-wrapper">
      <a> <%= link_to 'Vaga', root_path, :class=>"brand-logo"%> </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

       <li><a class="waves-effect waves-light modal-trigger" href="#modal1">Sign up</a></li>
       <li><%= link_to 'Cities', cities_path %> </li>
        <li><%= link_to 'Login', login_path, :class=>"waves-effect waves-light grey btn" %> </li>
      </ul>
    </div>
  </nav>
<% else %>
    <nav>
    <div class="nav-wrapper">
      <a> <%= link_to 'Vaga', root_path, :class=>"brand-logo"%> </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
    		<li id='welcome'><%= 'Welcome back ' + current_user.first_name + '!' %> </li> 
         <li><%= link_to 'Profile', user_path(current_user.id) %> </li>  
         <li><%= link_to 'Cities', cities_path %> </li> 

        <li><%= link_to 'Logout', logout_path, :class=>"waves-effect waves-light grey btn"%> </li>
      </ul>
    </div>
  </nav>
  <% end %>
  <body>

<% flash.each do |message_type, message| %>
    <%= javascript_tag "Materialize.toast('#{message_type + " "+message}', 4000)" %>
<% end %>
  
<%= yield %>
<!-- ... -->
</body>

</html>


  <!-- Modal Trigger -->
  

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
     <%= form_for @new_user do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
   <div>
    <%= f.text_field :hometown, placeholder: "Hometown" %>
  </div>
   <div>
    <%= f.text_field :prof_image, placeholder: "Image" %>
  </div>
  <%= f.submit "Sign Up" %>
<% end %>
    </div>
   
  </div>











